<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="TD_NodeJS/style/bootstrap.min.css">
    <style>
        body {
            padding: 50px;
            font: 13px Helvetica, Arial, sans-serif;
        }
        .error {
            color: red
        }
        .success {
            color: green;
        }
    </style>
</head>
<body>